<div class="container justify-content-center" style="margin-top: 50px;">
   <h2>Hello  {{username}}, welcome!</h2>
   <br>
   <br>
   <p>You can check out status of your existing requests <button class="btn btn-dark" [routerLink]="['/track']" >here.</button></p>
   <p>You can apply for voter ID <button class="btn btn-dark" [routerLink]="['/application']" >here.</button></p>
   <p>Check out about latest governmnet schemes <button class="btn btn-dark" [routerLink]="['/homeuser']" >here.</button></p>
</div>