<!-- <p>
    <img src="assets/img/welcome.jpg" style="width: 1550px; height: 700px;">
</p> -->
<html>
<body>
<div class="conatiner" style="padding-top: 90px; margin-left: 510px;">
    <h1 >Election Comission Of India</h1>
    <p>Apply for your voter ID online, and get it delivered at your home hassle free!</p>
    <p style="padding-top: 290px; padding-left: 55px;">Remeber! Voting is your right and duty.</p>
    <p>Caste Your vote and contribute towards nation development.</p>
</div>
</body>
</html>